@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
	text-decoration: none;
}

body,
html {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #333333;
}

.container_paralax {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 300px;
}

.parallax-group {
	position: relative;
	height: 100vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.section-img {
	background: url(../img/bg1.jpg) no-repeat top;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	transform: translateZ(-300px) scale(2);
}

.container {
	width: 100vw;
	position: absolute;
}

.text {
	text-align: center;
	background: white;
	width: auto;
	height: auto;
	padding: 10px;
}

.menu .contex {
	display: flex;
	justify-content: space-between;
}

.blue {
	color: #14afca;
	text-decoration: none;
}

.img2 {
	background-image: url(../img/bg2.jpg);
	min-height: 500px;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: -50px 0;
}

.img3 {
	background-image: url(../img/bg3.jpg);
	min-height: 400px;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: -50px 0;
}

.slogan {
	text-align: center;
	font-family: FuturaBT;
	color: #ffffff;
	font-size: 52px;
	font-weight: 700;
	line-height: 75px;
}

.text-content {
	position: absolute;
	width: 70%;
	top: 0;
	margin: 0 15%;
	bottom: 0;
	z-index: 4;
	padding-top: 25%;
	transform: translateZ(0);
}

.menu {
	position: absolute;
	width: 100%;
	top: 32px;
	background-color: white;
	padding: 15px 0;
	z-index: 10;
}

.menu-text {
	font-size: 36px;
}

.textlogo1 {
	font-family: 'Roboto', sans-serif;
	color: #424f57;
	font-size: 36px;
	font-weight: 300;
	line-height: 36px;
}

.textlogo {
	font-family: 'Roboto', sans-serif;
	color: #14afca;
	font-size: 36px;
	font-weight: 900;
	line-height: 36px;
	margin-left: -10px;
}

.menu ul {
	list-style: none;
}

.menu ul li {
	display: inline-block;
	padding-left: 20px;
	font-weight: 900;
}

.menu ul li:hover {
	color: #14afca;
	cursor: pointer;
}

.contex {
	width: 900px;
	margin: 0 auto;
}

.blok2 {
	font-family: 'Roboto', sans-serif;
	color: #14afca;
	font-size: 60px;
	font-weight: 700;
	line-height: 40px;
	margin-bottom: 20px;
}

.blok3 {
	font-family: OpenSans;
	font-size: 18px;
	font-weight: 600;
	color: #424f57;
	margin-top: 10px;
}

.blok4 {
	font-family: 'Roboto', sans-serif;
	color: #424f57;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	padding-bottom: 50px;
}

.dark {
	padding: 50px 0;
	text-align: center;
}

.d-flex {
	display: flex;
	justify-content: space-around;
}

.context .d-flex {
	padding-top: 30px;
	padding-bottom: 50px;
}

.context.d-flex.wicon img {
	margin: 15px;
}

.context.dark .blok3 {
	font-family: OpenSans;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	line-height: 40px;
}

.context.dark .separetep {
	font-family: OpenSans;
	color: #d3cccc;
	font-size: 16px;
	font-style: italic;
	line-height: 28px;
	padding-bottom: 0;
}

.context.dark .author {
	font-family: OpenSans;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	font-style: italic;
	line-height: 28px;
	text-align: right;
}

.context {
	width: 900px;
	margin: 0 auto;
}

.textbold {
	font-family: 'Roboto', sans-serif;
	color: #424f57;
	font-size: 30px;
	font-weight: 700;
	line-height: 48px;
	text-transform: uppercase;
	padding-top: 20px;
}

.copyright {
	padding: 0;
	padding-top: 50px;
	font-family: OpenSans;
	color: #3d3c3c;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

.design {
	font-family: OpenSans;
	color: #3d3c3c;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	display: inline-block;
	padding: 0;
}

.designername {
	display: inline-block;
	font-family: OpenSans;
	color: #3d3c3c;
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	text-indent: 5px;
	padding: 0;
	padding-bottom: 50px;
}

.item {
	padding: 0 70px;
}

.wicon {
	flex-wrap: wrap;
}

.borderNiz {
	position: relative;
	z-index: 6;
	border-style: solid;
	border-width: 50px calc(100vw /2 - 10px) 0 calc(100vw /2 - 10px);
	border-color: transparent white transparent white;
}

.borderVerh {
	border-style: solid;
	border-width: 50px calc(100vw /2 - 10px) 0 calc(100vw /2 - 10px);
	border-color: white transparent transparent transparent;
	position: relative;
	z-index: 6;
}